@media (max-width: 1200px) {
    .promo {
        padding: 21px 70px 93px 70px;
    }
    .consultation {
        padding: 100px 80px 108px 80px;
    }
    .carousel {
        padding: 81px 125px;
    }
    .tns-nav {
        display: none;
    }
}

@media (max-width: 1080px) {
    .carousel {
        padding: 81px 0;
        .prev, .next {
            display: none;
        }
        .tns-nav {
            display: block;
        }
    }
}

@media (max-width: 991px) {
    .advantages__wrapper {
        width: 768px;
    }
    .header__phone {
        font-size: 17px;
    }
    .promo {
        background: url(../img/bg_firstScreen.png) right (center/cover) no-repeat;
    }
    .consultation__header {
        font-size: 28px;
        line-height: 38px;
    }
    .consultation__subheader {
        font-size: 17px;
        line-height: 22px;
    }
    .catalog__tabs {
        margin-top: 20px;
        padding-left: 0;
    }
    .catalog__tab {
        margin-bottom: 15px;
    }
    
    .carousel {
        min-height: 0;
        .tns-item {
            min-height: 0;
        }
    }

    .comments {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .promo {
        padding: 21px 28px 93px 28px;
    }
    .advantages__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .advantages__blocks {
        width: 100%;
    }
    header {
        width: 100%;
    }
    .promo__wrapper {
        align-items: center;
    }
    .promo__header {
        text-align: center;
    }
    .promo__subheader {
        text-align: center;
        font-size: 17px;
        margin-top: 0;
    }
    .header__official {
        display: none;
    }
    .header__logo {
        margin-right: 19px;
        width: 275px;
    }
    .header__phone {
        font-size: 21px;
    }
    .header__contacts button {
        width: 210px;
    }
    .advantages__subdescr {
        font-size: 20px;
        span {
            font-size: 17px;
        }
    }
    .advantages__descr {
        font-size: 27px;
    }
    .advantages__icon img {
        height: 100px;
    }
    .consultation__header {
        font-size: 19px;
        line-height: 26px;
    }
    .consultation__subheader {
        font-size: 15px;
        line-height: 22px;
    }
    .container {
        justify-content: center;
        text-align: center;
    }
    .feed-form input {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .feed-form button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .catalog__tabs {
        flex-direction: column;
        margin-top: 20px;
        padding-left: 0;
    }
    .catalog__tab {
        margin-bottom: 15px;
    }
    
    .carousel {
        min-height: 0;
        .tns-item {
            min-height: 0;
        }
    }

    .comments {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 575px) {
    .promo__icons {
        width: 297px;
        margin-top: 25px;
    }
    .promo__header {
        font-size: 35px;
        line-height: 35px;
        margin-top: 65px;
    }
    .promo__subheader {
        display: none;
    }
    .header {
        // display: block;
        align-items: center;
    }
    .header__phone {
        display: none;
    }
    .header__phone_media {
        display: block;
        span {
            color: #fff;
            font-size: 32px;
        } 
    }
    .header__logo {
        margin: 0 0 20px 0;
        img {
            width: 80%;
        }
    }
    .header__contacts {
        align-items: center;
        margin: 0 0 20px 0;
        width: 25%;
        button {
            display: none;
        }
        a {
            text-decoration: none;
        }
    }
    .advantages__subdescr {
        font-size: 16px;
        span {
            font-size: 15px;
        }
    }
    .advantages__descr {
        font-size: 24px;
    }
    .advantages__icon img {
        height: 75px;
    }
    .advantages h1 {
        font-size: 22px;
    }
    .consultation {
        padding: 100px 10px 108px 10px;
    }
    .feed-form input {
        width:280px
    }
    .feed-form button {
        width: 280px;
    }
    .catalog__tabs {
        flex-direction: column;
        margin-top: 20px;
        padding-left: 0;
    }
    .catalog__tab {
        margin-bottom: 15px;
    }
    
    .catalog {
        padding: 0 0 50px 0;
    }

    .carousel {
        min-height: 0;
        .tns-item {
            min-height: 0;
        }
    }

    .comments {
        &__wrapper {
            flex-direction: column;
        }
        &__avatar {
            margin: 0;
        }
        &__descr {
            text-align: center;
            width: 100%;
        }
        &__text {
            text-align: start;
        }
        h2 {
            margin-top: 15px;
        }
    }

    .footer {
        &__information {
            width: 78%;
        }
    }
    .modal {
        width: 280px;
        &__close {
            top: 11px;
            right: 6px;
        }
        input, button {
            width: 240px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__descr {
            font-size: 11px;
            line-height: 11px;
        }
    }
    
    .overlay {
        .attention3, .attention4, .attention34, .attention5, .attention6, .attention56 {
            width: 260px;
        }
    }
    
    
}