.button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background: $main-color;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
        &:hover {
            box-shadow: 3px 3px 20px #fff;
        }
    }
    &_consult {
        width: 303px;
        height: 54px;
        font-size: 16px;
        line-height: 25px;
        margin-top: 10.5px;
        &:hover {
            box-shadow: 3px 3px 20px #fff;
        }
    }
    &_mini {
        width: 131px;
        height: 40px;
        margin-top: 19px;
        font-size: 14px;
        &:hover {
            border: 3px solid rgb(179, 13, 13);
            box-shadow: 3px 3px 20px $main-color;
        }
    }
}

