.consultation {
    min-height: 680px;
    padding: 100px 20px 108px 20px;
    background: url(../img/bg_consultation.png) center (center/cover) no-repeat;
    &__header {
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__subheader {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }
    .attention1, .attention2 {
        color: #fff;
        width: 303px;
        text-align: center;
        font-size: 13px;
    }
    .attention3, .attention4 {
        color: rgb(0, 0, 0);
        width: 303px;
        text-align: center;
        font-size: 13px;
    }
}