.promo {
    min-height: 650px;
    padding: 21px 150px 93px 150px;
    background: url(../img/bg_firstScreen.png) center (center/cover) no-repeat;
    width: 100%;
    &__header {
        margin-top: 91px;
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
        text-align: right;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__subheader {
        margin-top: 17px;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-align: right;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__icons {
        margin-top: 60px;
        width: 424px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        display: flex;
        flex-direction: column;
        width: 33%;
    }
    &__img {
        display: flex;
        justify-content: center;
        height: 46px;
    }
    &__descr {
        margin-top: 20px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
    }
    &__link {
        margin-top: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        text-align: right;
        color: #FFFFFF;
        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
            text-align: right;
            text-decoration-line: underline;
            color: #FFFFFF;
        }
    }
}
